<nav class="navbar">
  <a href="#" class="toggle"><i class="fa fa-reorder"></i></a>

  <%= link_to root_path, class: "brand" do %>
    <%= cl_image_tag("logo13_pqprzs", width: 40, height: 20) %>ordWarrior
  <% end %>

  <div class="left">
    <%= link_to "Levels", levels_path, class: "link" %>
    <%= link_to "Profile", user_path(current_user), class: "link" %>
    <a href="#" class="link">Scoreboard</a>
  </div>

  <div class="right">
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, class: "link" do %>
        logout
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "link" do %>
        login
      <% end %>
    <% end %>
  </div>
</nav>
