<div class="level-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-10">
        <div class="level-row">
          <span class="level-header-icon">
            Level <%= @level.name %> <%= @level.difficulty %>
          </span>
          <span class="level-header-words">
            No. of Words: <%= @head_words.size %>
          </span>
          <span class="level-header-completed">
            Words Completed: <%= @completed_hw.size %>
          </span>
        </div>
      </div>
      <div class="col-xs-2">
        <button class="btn-level">
            <%= link_to "Continue Exercises",
                  new_level_attempt_path(@level) %>
          </button>
      </div>
    </div>
  </div>
</div>

<div class="level-vocabulary-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="level-vocabulary-row">
          <% @incomplete_hw.each do |hw| %>
            <p><%= hw.name %></p>
          <% end %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="level-vocabulary-row">
          <% @completed_hw.each do |hw| %>
            <p><%= hw.name %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
